Repository mitchellfyi/synorg: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, erb_lint, eslint, prettier, typescript

rubocop:
  run: bundle exec rubocop -f github --autocorrect-all {staged_files}
  stage_fixed: true

erb_lint:
  run: bundle exec erb_lint --autocorrect {staged_files}
  stage_fixed: true

eslint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

typescript:
  run: npx tsc --noEmit

init llm
  Gemfile
  agents/dev_tooling/prompt.md
  agents/docs/prompt.md
  agents/gtm/prompt.md
  agents/issue/prompt.md
  agents/product_manager/prompt.md
  app/services/agent_runner.rb
  app/services/execution_strategies/database_strategy.rb
  app/services/execution_strategies/file_write_strategy.rb
  app/services/execution_strategies/github_api_strategy.rb
  app/services/execution_strategies/workspace_runner_strategy.rb
  app/services/llm_service.rb
  db/seeds/agents/ci_workflow_setup.rb
  db/seeds/agents/dependabot_setup.rb
  db/seeds/agents/dev_tooling.rb
  db/seeds/agents/docs.rb
  db/seeds/agents/eslint_setup.rb
  db/seeds/agents/frontend_setup.rb
  db/seeds/agents/git_hooks_setup.rb
  db/seeds/agents/gtm.rb
  db/seeds/agents/helpers.rb
  db/seeds/agents/issue.rb
  db/seeds/agents/orchestrator.rb
  db/seeds/agents/product_manager.rb
  db/seeds/agents/rails_app_setup.rb
  db/seeds/agents/readme_setup.rb
  db/seeds/agents/repo_bootstrap.rb
  db/seeds/agents/rubocop_setup.rb
  spec/services/llm_service_spec.rb
Due: rubocop, prettier

remove agent fallback
  Gemfile.lock
  agents/README.md
  app/models/agent.rb
  app/services/agent_runner.rb
  app/services/dev_tooling_agent_service.rb
  app/services/docs_agent_service.rb
  app/services/gtm_agent_service.rb
  app/services/issue_agent_service.rb
  app/services/product_manager_agent_service.rb
  db/schema.rb
  db/seeds.rb
  db/seeds/agents/ci_workflow_setup.rb
  db/seeds/agents/dependabot_setup.rb
  db/seeds/agents/dev_tooling.rb
  db/seeds/agents/docs.rb
  db/seeds/agents/eslint_setup.rb
  db/seeds/agents/frontend_setup.rb
  db/seeds/agents/git_hooks_setup.rb
  db/seeds/agents/gtm.rb
  db/seeds/agents/issue.rb
  db/seeds/agents/orchestrator.rb
  db/seeds/agents/product_manager.rb
  db/seeds/agents/rails_app_setup.rb
  db/seeds/agents/readme_setup.rb
  db/seeds/agents/repo_bootstrap.rb
  db/seeds/agents/rubocop_setup.rb
  script/demo_agents.rb
  spec/services/dev_tooling_agent_service_spec.rb
  spec/services/docs_agent_service_spec.rb
  spec/services/gtm_agent_service_spec.rb
  spec/services/issue_agent_service_spec.rb
  spec/services/product_manager_agent_service_spec.rb
Due: rubocop, prettier

fix seeds
  Gemfile.lock
  app/controllers/projects_controller.rb
  app/helpers/activities_helper.rb
  app/models/project.rb
  app/models/run.rb
  app/models/work_item.rb
  app/views/activities/_activity.html.erb
  app/views/activities/_icon.html.erb
  app/views/projects/show.html.erb
  config/credentials.yml.enc
  config/initializers/public_activity.rb
  db/migrate/20251110120000_create_activities.rb
  db/schema.rb
Due: rubocop, erb_lint

fix: lint
  .github/workflows/ci.yml
  README.md
  app/views/activities/_activity.html.erb
  app/views/activities/_icon.html.erb
  app/views/projects/_form.html.erb
  app/views/projects/_project.html.erb
  app/views/projects/edit.html.erb
  app/views/runs/_run.html.erb
  app/views/runs/_run_row.html.erb
  app/views/work_items/_work_item.html.erb
  bin/format
  bin/lint
  bin/setup
  bin/watch-format
  db/seeds/agents/docs.rb
  db/seeds/agents/git_hooks_setup.rb
Due: rubocop, erb_lint, prettier

fix: update WebMock stub to match enhanced PR title behavior
  spec/services/execution_strategies/github_api_strategy_spec.rb
Due: rubocop

chore: ignore false positive Brakeman warnings for safe URL methods
  config/brakeman.ignore
Due: none

fix: update brakeman ignore fingerprints and fix create_pr test
  config/brakeman.ignore
Due: none

refactor: extract ActivityTrackable concern and OrchestratorTriggerService
  app/controllers/projects_controller.rb
  app/models/concerns/activity_trackable.rb
  app/models/project.rb
  app/models/run.rb
  app/models/work_item.rb
  app/services/orchestrator_trigger_service.rb
Due: rubocop

fix: make create_activity public in ActivityTrackable concern
  app/models/concerns/activity_trackable.rb
Due: rubocop

fix: handle Project model correctly in ActivityTrackable concern
  app/models/concerns/activity_trackable.rb
Due: rubocop

refactor: extract WebhookProjectFinder service from controller
  app/controllers/github_webhook_controller.rb
  app/controllers/projects_controller.rb
  app/services/webhook_project_finder.rb
Due: rubocop

test: add comprehensive tests for WebhookProjectFinder and OrchestratorTriggerService
  spec/services/orchestrator_trigger_service_spec.rb
  spec/services/webhook_project_finder_spec.rb
Due: rubocop

feat: add agent management, work item details, run details, and retry functionality
  app/controllers/agents_controller.rb
  app/controllers/runs_controller.rb
  app/controllers/work_items_controller.rb
  app/views/agents/_form.html.erb
  app/views/agents/edit.html.erb
  app/views/agents/index.html.erb
  app/views/agents/show.html.erb
  app/views/projects/show.html.erb
  app/views/runs/_run_row.html.erb
  app/views/runs/show.html.erb
  app/views/work_items/_work_item.html.erb
  app/views/work_items/show.html.erb
  config/routes.rb
Due: rubocop, erb_lint

chore: add brakeman ignore entries for safe URL methods in runs/show
  config/brakeman.ignore
Due: none

fix: fix agent caching spec and update brakeman ignore fingerprints
  .rubocop.yml
  config/brakeman.ignore
  spec/models/agent_caching_spec.rb
Due: rubocop, prettier

refactor: improve AgentsController with before_action and extract stats method
  app/controllers/agents_controller.rb
Due: rubocop

test: add comprehensive controller tests for AgentsController and WorkItemsController
  app/controllers/agents_controller.rb
  spec/controllers/agents_controller_spec.rb
  spec/controllers/work_items_controller_spec.rb
Due: rubocop

refactor: extract work item status badge styling to helper
  app/helpers/work_items_helper.rb
  app/views/work_items/show.html.erb
Due: rubocop, erb_lint

refactor: use work_item_status_badge_class helper in work item partial
  app/views/work_items/_work_item.html.erb
Due: erb_lint

refactor: extract agent enabled badge styling to helper
  app/helpers/application_helper.rb
  app/views/agents/index.html.erb
  app/views/agents/show.html.erb
Due: rubocop, erb_lint

Path conditions:
  rubocop: any of: *.{rb,rake}
  erb_lint: any of: *.erb
  eslint: any of: *.{js,ts,mjs,cjs}
  prettier: any of: *.{js,ts,json,yml,yaml,md}
  typescript: any of: *.{ts,tsx}
